/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ Core -> Mixins
*/

/* ----------------------------------------------- */
/**
*	Index
*
*	[1]	 Animation 			-> .animation(@animatin )
*	[2]	 Backface 			-> .backface( @backface )
*	[3]	 Border-radius 		-> .border-radius( @radius )
*	[4]	 Box-shadow 		-> .box-shadow( @shadow )
*	[5]	 Box-sizing 		-> .box-sizing( @box-sizing )
*	[6]	 Font-size 			-> .font-size( @size )
*	[7]	 Font-smoothing		-> .font-smoothing()
*	[8]	 Opacity 			-> .opacity( @opacity() )
*	[9]	 Placeholder 		-> .placeholder( @rules() )
*	[10] highlight 			-> .highlight( @highlight )
*	[11] selection			-> .selection( @highlight )
*	[12] Text-overflow 		-> .text-overflow()
*	[13] Text-shadow 		-> .text-shadow( @shadow )
*	[14] Transition 		-> .transition( @transition )
*
*	Transformations
*	[15] Rotate 			-> .rotate( @degrees )
*	[16] RotateX 			-> .rotateX( @degrees )
*	[17] RotateY 			-> .rotateY( @degrees )
*	[18] RotateZ 			-> .rotateZ( @degrees )
*	[19] Rotate3D 			-> .rotate3d( @x; @y; @z; @angle )
*	[20] Scale 				-> .scale( @ratio )
*	[21] Skew 				-> .skew( @skew )
*	[22] Transform 			-> .transform( @transform )
*	[23] Transform-origin	-> .transform-origin( @transform )
*	[24] TranslateX 		-> .translateX( @x )
*	[25] TranslateY 		-> .translateY( @y )
*	[26] TranslateZ 		-> .translateZ( @z)
*	[27] Translate3D 		-> .translate3d( @x; @y; @z; )
*
*	Perspective
*	[28] Perspective 		-> .perspective( @perspective )
*	[29] Perspective-origin	-> .perspective-origin( @origin )
*
*	[30] Clear-fix			-> .clearfix()
*
*	[31] Box Shadow Dept 	-> .box-shadow-dept( @level )
*
*	[32] Media Queries		-> @media @{device} (mobile, tablet, desktop, desktop-xl)
*/


/* ----------------------------------------------- */
/**
* 	Animation
* 	@animation
*/

	.animation(@animation) {
		-webkit-animation: @animation;
		   -moz-animation: @animation;
			-ms-animation: @animation;
			 -o-animation: @animation;
				animation: @animation;
	}


/* ----------------------------------------------- */
/**
* 	Backface
* 	@backface
*/

	.backface(@backface: hidden) {
		-webkit-backface-visibility: @backface  !important;
		   -moz-backface-visibility: @backface  !important;
			-ms-backface-visibility: @backface  !important;
			 -o-backface-visibility: @backface  !important;
				backface-visibility: @backface  !important;
	}


/* ----------------------------------------------- */
/**
* 	Border Radius
* 	@radius
*/

	.border-radius(@radius: 3px) {
		-webkit-border-radius: @radius;
		   -moz-border-radius: @radius;
			-ms-border-radius: @radius;
			 -o-border-radius: @radius;
				border-radius: @radius;
	}


/* ----------------------------------------------- */
/**
* 	Box Shadow
* 	@shadow
*/

	.box-shadow(@shadow: 0 1px 4px rgba(51, 50, 55, .4)) {
		-webkit-box-shadow: @shadow;
		   -moz-box-shadow: @shadow;
			-ms-box-shadow: @shadow;
			 -o-box-shadow: @shadow;
				box-shadow: @shadow;
	}


/* ----------------------------------------------- */
/**
* -> Box Sizing
*/

	.box-sizing(@box-sizing: border-box) {
		-webkit-box-sizing: @box-sizing;
		   -moz-box-sizing: @box-sizing;
			-ms-box-sizing: @box-sizing;
			 -o-box-sizing: @box-sizing;
				box-sizing: @box-sizing;
	}


/* ----------------------------------------------- */
/**
* 	Appearance
*	@appearance
*/

	.disable-appearance(@appearance: none) {
		-webkit-appearance: none;
		   -moz-appearance: none;
			-ms-appearance: none;
				appearance: none;
	}


/* ----------------------------------------------- */
/**
* 	Font Size
*	@size
*/

	.font-size(@size) {
		@pxsize:  @size;
		@remsize: @size / 10;

		font-size: ~'@{pxsize}px';
		font-size: ~'@{remsize}rem';
	}


/* ----------------------------------------------- */
/**
* 	Font Smoothing (anti-aliasing)
*/

	.font-smoothing() {
		-moz-osx-font-smoothing: grayscale;
		 -webkit-font-smoothing: antialiased;
		 text-rendering: optimizeLegibility;
	}


/* ----------------------------------------------- */
/**
* 	Opacity
*	@opacity
*/

	.opacity(@opacity) {
		opacity: @opacity;
		@opacity-ie: (@opacity * 100);
		filter: ~"alpha(opacity=@{opacity-ie})";
	}


/* ----------------------------------------------- */
/**
* 	Placeholder
*	@rules
*/

	.placeholder(@rules) {
		&::-webkit-input-placeholder {
			@rules();
		}

		&:-moz-placeholder {
			@rules();
		}

		&::-moz-placeholder {
			@rules();
			.opacity(1);
		}

		&:-ms-input-placeholder {
			@rules();
		}
	}


/* ----------------------------------------------- */
/**
* 	highlight
*	@highlight
*/

	.highlight(@highlight: rgba(0, 0, 0, 0)) {
		-webkit-tap-highlight-color: @highlight;
	}


/* ----------------------------------------------- */
/**
* 	selection
*	@highlight
*/

	.selection(@highlight: rgba(0, 0, 0, 0)) {
		&::selection {
			background: @highlight;
		}

		&::-moz-selection {
			background: @highlight;
		}
	}


/* ----------------------------------------------- */
/**
* 	Text-overflow
*/

	.text-overflow() {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}


/* ----------------------------------------------- */
/**
* 	Text Shadow
*	@shadow
*/

	.text-shadow(@shadow: 0 1px 3px rgba(0, 0, 0, .1)) {
		text-shadow: @shadow;
	}


	.long-text-shadow {
		text-shadow:	1px 1px 1px rgba(0, 0, 0,.12),
						3px 3px 3px rgba(0, 0, 0,.08),
						5px 5px 5px rgba(0, 0, 0,.04),
						7px 7px 7px rgba(0, 0, 0,.02);
	}

	.long-text-shadow-dark {
		text-shadow:	1px 1px 1px rgba(0, 0, 0,.22),
						3px 3px 3px rgba(0, 0, 0,.18),
						5px 5px 5px rgba(0, 0, 0,.14),
						7px 7px 7px rgba(0, 0, 0,.12),
						9px 9px 9px rgba(0, 0, 0,.08),
						13px 13px 13px rgba(0, 0, 0,.02);
	}


/* ----------------------------------------------- */
/**
* 	Transition
* 	@transition
*/

	.transition(@transition: all @time @easing-base) {
		-webkit-transition: @transition;
		   -moz-transition: @transition;
			-ms-transition: @transition;
			 -o-transition: @transition;
				transition: @transition;
	}


/* ----------------------------------------------- */
/**
* 	Filter Mixins
*/

/* ----------------------------------------------- */
/**
* 	Filter
*	@filter
*/

	.filter(@filter) {
		-webkit-filter: @filter;
		-moz-filter: @filter;
		-ms-filter: @filter;
		-o-filter: @filter;
		filter: @filter;
	}


/* ----------------------------------------------- */
/**
* 	Filter: Blur
* 	@amount
*/

	.blur(@amount) {
		.filter(blur(@amount));
	}


/* ----------------------------------------------- */
/**
* 	Transform Mixins
*/

/* ----------------------------------------------- */
/**
* 	Transform: Rotate
* 	@degrees
*/

	.rotate(@degrees) {
		.transform(rotate(@degrees));
	}


/* ----------------------------------------------- */
/**
* 	Transform: RotateX
* 	@degrees
*/

	.rotateX(@degrees) {
		.transform(rotateX(@degrees));
	}


/* ----------------------------------------------- */
/**
* 	Transform: RotateY
* 	@degrees
*/

	.rotateY(@degrees) {
		.transform(rotateY(@degrees));
	}


/* ----------------------------------------------- */
/**
* 	Transform: RotateZ
* 	@degrees
*/

	.rotateZ(@degrees) {
		.transform(rotateZ(@degrees));
	}


/* ----------------------------------------------- */
/**
* 	Transform: Rotate3D
* 	@x; @y; @z; @angle 
*/

	.rotate3d(@x, @y, @z, @angle) {
		.transform(rotate3d(@x, @y, @z, @angle));
	}


/* ----------------------------------------------- */
/**
* 	Transform: Scale
* 	@ratio
*/

	.scale(@ratio) {
		.transform(scale(@ratio));
	}


/* ----------------------------------------------- */
/**
* 	Transform: Skew
* 	@skew
*/

	.skew(@skew) {
		.transform(skew(@skew));
	}


/* ----------------------------------------------- */
/**
* 	Transform
*	@transform
*/

	.transform(@transform) {
		-webkit-transform: @transform;
		-moz-transform: @transform;
		-ms-transform: @transform;
		-o-transform: @transform;
		transform: @transform;
	}


/* ----------------------------------------------- */
/**
* 	Transform-origin
* 	@origin
*/

	.transform-origin(@origin) {
		-webkit-transform-origin: @origin;
		   -moz-transform-origin: @origin;
			-ms-transform-origin: @origin;
			 -o-transform-origin: @origin;
				transform-origin: @origin;
	}


/* ----------------------------------------------- */
/**
* 	Transform: TranslateX
* 	@x
*/

	.translateX(@x) {
		.transform(translateX(@x));
	}


/* ----------------------------------------------- */
/**
* 	Transform: TranslateY
* 	@y
*/

	.translateY(@y) {
		.transform(translatey(@y));
	}


/* ----------------------------------------------- */
/**
* 	Transform: TranslateZ
* 	@x, @y
*/

	.translateZ(@x, @y) {
		.transform(translatez(@x, @y));
	}


/* ----------------------------------------------- */
/**
* 	Transform: Translate3D
* 	@x, @y, @z
*/

	.translate3D(@x, @y, @z) {
		.transform(translate3d(@x, @y, @z));
	}


/* ----------------------------------------------- */
/**
* 	Perspective Mixins
*/


/* ----------------------------------------------- */
/**
* 	Perspective
*	@perspective
*/

	.perspective(@perspective: 1000) {
		-webkit-perspective: @perspective;
		   -moz-perspective: @perspective;
			-ms-perspective: @perspective;
 			 -o-perspective: @perspective;
				perspective: @perspective;
	}


/* ----------------------------------------------- */
/**
* 	Perspective-origin
*	@origin
*/

	.perspective-origin(@origin) {
		-webkit-perspective-origin: @origin;
		   -moz-perspective-origin: @origin;
			-ms-perspective-origin: @origin;
			 -o-perspective-origin: @origin;
				perspective-origin: @origin;
	}


/* ----------------------------------------------- */
/**
* 	Clear-fix
*/

	.clearfix() {
		&:before, &:after {
			content: " ";
			display: table;
		}

		&:after {
			clear: both;
		}
	}


/* ----------------------------------------------- */
/**
* 	Gradient Left to Right
*	@color1, color2
*/

	.gradient(@color1, @color2) {
		background: @color1;
		background: -moz-linear-gradient(left,  @color1 0%, @color2 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color1), color-stop(100%,@color2));
		background: -webkit-linear-gradient(left,  @color1 0%,@color2 100%);
		background: -o-linear-gradient(left,  @color1 0%,@color2 100%);
		background: -ms-linear-gradient(left,  @color1 0%,@color2 100%);
		background: linear-gradient(to right,  @color1 0%,@color2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color1}', endColorstr='@{color2}',GradientType=1 );
	}


/* ----------------------------------------------- */
/**
* 	Gradient Top to Bottom
*	@color1, color2
*/

	.gradient-bottom(@color1, @color2) {
		background: @color1;
		background: -moz-linear-gradient(top,  @color1 0%, @color2 100%);
		background: -webkit-gradient(linear, top, bottom, color-stop(0%,@color1), color-stop(100%,@color2));
		background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%);
		background: -o-linear-gradient(top,  @color1 0%,@color2 100%);
		background: -ms-linear-gradient(top,  @color1 0%,@color2 100%);
		background: linear-gradient(to bottom,  @color1 0%,@color2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color1}', endColorstr='@{color2}',GradientType=0 );
	}


/* ----------------------------------------------- */
/**
* 	Gradient Reflected
*	@color1, color2
*/

	.gradient-reflected(@color1, @color2) {
		@blend: mix(@color1, @color2, 50%);

		background: @color1;
		background: -moz-linear-gradient(left,  @color1 0%, @blend 26%, @color2 50%, @blend 80%, @color1 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color1), color-stop(26%, @blend), color-stop(50%, @color2), color-stop(80%, @blend), color-stop(100%,@color1));
		background: -webkit-linear-gradient(left,  @color1 0%, @blend 26%, @color2 50%, @blend 80%,@color1 100%);
		background: -o-linear-gradient(left,  @color1 0%, @blend 26%, @color2 50%, @blend 80%,@color1 100%);
		background: -ms-linear-gradient(left,  @color1 0%, @blend 26%, @color2 50%, @blend 80%,@color1 100%);
		background: linear-gradient(to right,  @color1 0%, @blend 26%, @color2 50%, @blend 80%,@color1 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{color1}', endColorstr='@{color1}',GradientType=1 );
	}


/* ----------------------------------------------- */
/**
* 	Box Shadow Dept
*	@level
*/

	.box-shadow-depth(@level: 1) {
	    & when (@level = 0) {
	        @shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(0, 0, 0, 0);
	        .box-shadow(@shadow);
	    }

	    & when (@level = 1) {
	        @shadow: 0 5px 5px -5px fade(@black, 10%);
	        .box-shadow(@shadow);
	    }

	    & when (@level = 2) {
	        @shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.08);
	        .box-shadow(@shadow);
	    }

	    & when (@level = 3) {
	        @shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 6px 6px rgba(0, 0, 0, 0.08);
	        .box-shadow(@shadow);
	    }

	    & when (@level = 4) {
	        @shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.08);
	        .box-shadow(@shadow);
	    }

	    & when (@level = 5) {
	        @shadow: 0 19px 38px rgba(0, 0, 0, 0.15), 0 15px 12px rgba(0, 0, 0, 0.08);
	        .box-shadow(@shadow);
	    }
	}


/* ----------------------------------------------- */
/**
* 	Media Queries
*	@media {@device}
*/

	@highdensity: ~'only screen and (-webkit-min-device-pixel-ratio: 1.5)',
	              ~'only screen and (min--moz-device-pixel-ratio: 1.5)',
	              ~'only screen and (-o-min-device-pixel-ratio: 3/2)',
	              ~'only screen and (min-device-pixel-ratio: 1.5)';

	// (max-width: 480px)
	@mobile:      ~'only screen and (max-width: @{screen-xs})';

	// (min-width: 480px) and (max-width: 992px)
	@tablet:      ~'only screen and (min-width: @{screen-xs}) and (max-width: @{screen-md})';

	// (min-width: 992px) and (max-width: 1200px)
	@desktop:     ~'only screen and (min-width: @{screen-md}) and (max-width: @{screen-lg})';

	// (min-width: 1200px) and (max-width: 1828px)
	@desktop-xl:  ~'only screen and (min-width: @{screen-lg})';


/* ----------------------------------------------- */