/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ Core -> Variables
*/

/* ----------------------------------------------- */
/**
*	Index
*
*	[1]	 Path Variables 		(img, icon, font)
*	[2]  Color Pallet Variables (greys, colors, aliases, brands)
*	[3]	 Transition Variables 	(timing, easings)
*	[4]	 Typography Variables 	(Font-families)
*	[5]	 Font-sizes Variables
*	[6]	 Screen Sizes 			(required for media-queries)
*/


/* ----------------------------------------------- */
/**
* 	Path Variables
*
*	Usage:
*	background-image: url('../assets/images/path/to/image');
*	vs.
*	background-image: url('@{img-path}path/to/image');
*/ 

	@img-path: 	'../assets/images/';

	@icon-path: '../assets/icons/';

	@font-path: '../assets/fonts/';


/* ----------------------------------------------- */
/**
* 	Color Pallet Variables
*/ 

	/* ------------------------------------------- */
	/**
	*	11 Shades of Grey
	*/

	@white: 		#fff;
	@light: 		#f1f4f9;
	@clear: 		#ecf0f3;
	@subtle: 		#ccd1d9;
	@half: 			#bbc0c7;
	@medium: 		#aab2bd;
	@semi: 			#434a54;
	@dark: 			#272f3b;
	@pitch: 		#20252d;
	@pitch-alt: 	#171a1f;
	@black: 		#000000;


	/* ------------------------------------------- */
	/**
	*	Colors (Material Design inspired)
	*/


	@grapefruit: 		#de6489;
	@grapefruit-alt: 	#ce4139;

	@bittersweet: 		#d9534f;
	@bittersweet-alt: 	#e9573f;

	@sunflower: 		#ffce54;
	@sunflower-alt: 	#f6bb42;

	@grass: 			#31b39b;
	@grass-alt: 		#0d967b;

	@mint: 				#259dab;
	@mint-alt: 			#37bc98;

	@drop: 				#28a1c5;
	@drop-alt: 			#66adcb;

	@aqua: 				#2a82c0;
	@aqua-alt: 			#3bafda;

	@bluejeans: 		#2574ab;
	@bluejeans-alt: 	#4a89dc;

	@lavender: 			#8046da;
	@lavender-alt: 		#3a49a6;
	@lavender-dark: 	#313e8d;

	@pinkrose: 			#d43a69;
	@pinkrose-alt: 		#d11253;


	/* ------------------------------------------- */
	/**
	*	Aliases
	*/

	@grey-0: 		@clear;
	@grey: 			@subtle;
	@grey-2:		@medium;
	@grey-3:		@semi;
	@grey-4:		@dark;
	@grey-5:		@pitch;
 
	@primary: 		@dark;
	@secondary: 	@bittersweet;
	@alpha:		 	@bittersweet;
	@omega:			@aqua;
	@beta:			@mint;

	@success: 		@grass;
	@error: 		@bittersweet;
	@info: 			@bluejeans;
	@warning: 		@bittersweet;
	@neutral: 		@medium;

	@code-color:	@light;
	@code-bg:		@dark;
	
	@pre-color: 	@light;
	@pre-bg: 		@dark;


	/* ------------------------------------------- */
	/**
	*	Brand Colors
	*/

	@facebook: 		#3b5998;
	@twitter: 		#55acee;
	@google: 		#4285f4;
	@linkedin: 		#0077b5;
	@googleplus: 	#dd4b39;
	@youtube: 		#cd201f;


/* ----------------------------------------------- */
/**
*	Transition Variables
* 	more information about easing-properties & easing-generator
*	http://matthewlein.com/ceaser
*
*	Usage:
*	@transition: all @time @[easing] (quart|cubic|expo|swift|back|fancy|easing-base)
*	.transition(@transition)
*/

	//	transition-time
	@time:	250ms; 


	//	'ease-out-quart'
	@quart:	cubic-bezier(0.165, 0.840, 0.440, 1.000);


	//	'ease-in-out-cubic'
	@cubic:	cubic-bezier(0.645, 0.045, 0.355, 1.000);


	//	'ease-out-expo'
	@expo:	cubic-bezier(1.000, 0.000, 0.000, 1.000);


    // 'swift-out' (*material design easing)
    @swift: cubic-bezier(0.55, 0, 0.1, 1);


	//	'ease-out-back' (*customized)
	@back: 	cubic-bezier(0.180, 0.020, 0.210, 1.500);


	//	'ease-out-fancy' (*customized)
	@fancy: cubic-bezier(0.175, 0.885, 0.32, 1.275);


	//	'default'
	@easing-base:	@swift;


/* ----------------------------------------------- */
/**
*	Typography
*
*	Usage:
*	font-family: 'Open Sans', Arial, sans-serif;
*	vs.
*	.font-open-sans();
*/

	//	'serif'
	@font-serif: Georgia, 'Times New Roman', Times, serif;


	//	'sans-serif'
	@font-sans-serif: Arial, sans-serif;


	//	'Open Sans'
	.font-open-sans() {
		font-family: 'Open Sans', @font-sans-serif;
	}

	.font-roboto-slab {
		font-family: 'Roboto Slab', serif;
	}

	//	'Ionicons' (icon-font)
	.font-ionicons() {
		font-family: 'Ionicons';
	}


	//	'Material Design' (icon-font) 
	.font-material-design() {
		font-family: 'MaterialDesignIcons';
	}


	//	'default'
	.font-family-base() {
		.font-open-sans();
	}


/* ----------------------------------------------- */
/**
*	Font-sizes
*/

	//	'regular'
	@font-size-base:			14;
	@font-size-large:			ceil(( @font-size-base * 1.25 ));		/* ~18px, ~1.8rem */
	@font-size-small:			ceil(( @font-size-base * 0.85 ));		/* ~12px, ~1.2rem */

	//	'headings' (h1-h6)
	@font-size-h1:				floor(( @font-size-base * 2.6 ));		/* ~36px, ~3.6rem */
	@font-size-h2:				floor(( @font-size-base * 2.15 ));		/* ~30px, ~3.0rem */
	@font-size-h3:				ceil(( @font-size-base * 1.7 ));		/* ~24px, ~2.4rem */
	@font-size-h4:				ceil(( @font-size-base * 1.25 ));		/* ~18px, ~1.8rem */
	@font-size-h5:				@font-size-base;						/*  14px, ~1.4rem */
	@font-size-h6:				ceil(( @font-size-base * 0.85 ));		/* ~12px, ~1.2rem */


	//	'line-height'
	@line-height-base:			1.428571429; /* 20/14 */
	@line-height-computed:		floor(( @font-size-base * @line-height-base ) + 2 ); /* ~22px */


/* ----------------------------------------------- */
/**
*	Screen Sizes
*	Note: Overrules Bootstrap if Bootstrap LESS is present
*/

	//	'phone'
	@screen-xs:					480px;
	@screen-xs-min:				@screen-xs;
	@screen-phone:				@screen-xs-min;


	//	'tablet'	(portrait)
	@screen-sm:					768px;
	@screen-sm-min:				@screen-sm;
	@screen-tablet:				@screen-sm-min;


	//	'desktop' 	(medium)
	//	'tablet' 	(landscape)
	@screen-md:					992px;
	@screen-md-min:				@screen-md;
	@screen-desktop:			@screen-md-min;


	//	'desktop'	(large)
	@screen-lg:					1200px;
	@screen-lg-min:				@screen-lg;
	@screen-lg-desktop:			@screen-lg-min;


	//	'desktop'	(extra-large)
	@screen-xl:					1828px;
	@screen-xl-min:				@screen-xl;
	@screen-xl-desktop:			@screen-xl-min;


	//	'max breakpoints'
	@screen-xs-max:				(@screen-sm-min - 1);		/* ~767px */
	@screen-sm-max:				(@screen-md-min - 1);		/* ~991px */
	@screen-md-max:				(@screen-lg-min - 1);		/* ~1199px */
	@screen-lg-max:				(@screen-xl-min - 1);		/* ~1827px */


/* ----------------------------------------------- */
