/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ General
*/

/* ----------------------------------------------- */
/*
* 	Html & Body
*/

	html, body {
		display: block;
		position: relative;
		width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 0;
		background: @pitch;
		overflow-x: hidden;

		font-size: 62.5%;  
	}

	body {
		.font-size(14);
		.font-smoothing();
		font-weight: normal;
		line-height: 1.25;
		text-decoration: none;
	}

/* ----------------------------------------------- */
/*
* 	List-items
*/

	ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}


/* ----------------------------------------------- */
