#start-screen {
	background: url('../assets/images/starry-night-bg.jpg');
	height: 100vh;
	.opacity(0);
	.transition(all 5s);

	&.animated {
		.opacity(1);
	}
}

#moon-container {
	position: relative;
	.clearfix();
}

#moon {
	margin-top: 40px;
	padding: 20px;
	float: right;
	margin-right: 50px;
	-webkit-transform: rotate(-30deg) translateY(-200%);
	-moz-transform: rotate(-30deg) translateY(-200%);
	-ms-transform: rotate(-30deg) translateY(-200%);
	-o-transform: rotate(-30deg) translateY(-200%);
	transform: rotate(-30deg) translateY(-200%);
	.transition(all 1.8s);
	
	&.animated {
		-webkit-transform: rotate(-10deg) translateY(0%);
		-moz-transform: rotate(-10deg) translateY(0%);
		-ms-transform: rotate(-10deg) translateY(0%);
		-o-transform: rotate(-10deg) translateY(0%);
		transform: rotate(-10deg) translateY(0%);
	}
}

#letter {
	background-color: rgba(255, 255, 255, 0.85);
	padding: 40px;
	margin-top: 70px;
	border-radius: 5px;
	font-size: 3rem;
	height: 0vh;
	font-style: italic;
	.opacity(0);
	.font-roboto-slab();
	.box-shadow(0 0 5px 10px rgba(0,0,0,0.5));
	.transition(1s);

	&.animated {
		height: 80vh;
		.opacity(1);
	}

	h1 {
		.font-size(40);
		font-style: normal;
		font-weight: bold;
	}

	p {
		.font-roboto-slab();
	}
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    padding: 5px;
    font-style: normal;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	.opacity(0);
	.transition(1s);
    -webkit-animation: alarm 2.5s infinite; /* Chrome, Safari, Opera */
    animation: alarm 2.5s infinite;
    &.animated {
		.opacity(1);
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes alarm {
	0% {background-color: #000;}
	50% {background-color: DarkRed;}
	100% { background-color: #000;}
}

@keyframes alarm {
	0% {background-color: #000;}
	50% {background-color: DarkRed;}
	100% { background-color: #000;}
}

#jail {
	background: url('../assets/images/jail-cell-bars.png');
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	.translateY(-100%);
	.transition(5s linear);

	&.animated {
		.translateY(0%)
	}
}

#terminal {
	padding: 20px;
	border: 10px solid white;
	border-radius: 5px;
	background-color: #000;
	color: green;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	height: 250px;
	width: 700px;
	top: 0;
	left: 50%;
	margin-left: -350px;
	position: fixed;
	font-family: monospace;
	.font-size(36);
	.scale(0);
	.transition(0.75s @back);
	&.animated {
		.scale(1);
	}
	.typed-cursor {
		color:white;
	}
}

#next-button {
	display: none;
}