/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ UI -> Alerts
*/

/* ----------------------------------------------- */
/**
*	Alert
*/

	.alert {

		&.error {
		}

		&.info {
		}

		&.success {
		}

		&.warning {
		}
	}

/* ----------------------------------------------- */
