/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ UI -> Forms
*/

/* ----------------------------------------------- */
/**
*	Form Container
*/

	.form-container {
		display: block;
		position: relative;
		width: auto;
		padding: 25px 0;	
	}


/* ----------------------------------------------- */
/**
*	Form
*/

	form {
	}


/* ----------------------------------------------- */
