/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ UI -> Ripple
*/

/* ----------------------------------------------- */
/**
*	Ripple
*/

	.has-ripple {
		position: relative;
		overflow: hidden;
	}


/* ----------------------------------------------- */
/**
*	Ripple (Ink)
*/

	.has-ripple {
		.ink {
			z-index: +10;
			display: block;
			position: absolute;
			background: fade(@white, 15%);

			.border-radius(1000px);
			.opacity(1);
			.scale(0);

			&.animate {
				.animation(ripple (@time *2.5) @swift);
			}
		}
	}


/* ----------------------------------------------- */
/**
*	Ripple (Animation)
*/

	@ripple: ripple;

	.ripple-frames() {
		0% {
			.opacity(1);
			.scale(0);
		}
		100% {
			.opacity(0);
			.scale(2.5);
		}
	}

	@keyframes @ripple {
		.ripple-frames();
	}

	@-ms-keyframes @ripple {
		.ripple-frames();
	}

	@-moz-keyframes @ripple {
		.ripple-frames();
	}

	@-webkit-keyframes @ripple {
		.ripple-frames();
	}


/* ----------------------------------------------- */
