/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ UI -> Tooltip
*/

/* ----------------------------------------------- */
/**
*	Tooltip
*/

	.tooltip {
        z-index: 1070;
        position: absolute;

        .font-family-base();
        .font-size(14);
        font-style: normal;
        font-weight: 400;
        text-align: start;

        word-break: normal;
        word-spacing: normal;
        word-wrap: normal;
        white-space: normal;

        .opacity(0);

        @transition: opacity (@time /3) @swift, transform (@time /3) @swift;
        .transition(@transition);

        &.in {
            .opacity(1);
        }

        &.bottom {
            margin-top: 3px;
            padding: 5px 0;
        }

        .tooltip-inner {
            max-width: 200px;
            padding: 3px 8px;
            background: fade(@pitch-alt, 90%);
            .border-radius(4px);

            .font-family-base();
            .font-size(14);
            text-align: center;
            color: @white;
        }
	}


/* ----------------------------------------------- */
