/**
*   Concrete 5 Default
*   LESS
*
*   @copyright (c) 2015 Acato B.V.
*   @author: jorik@acato.nl
*   @version 0.0.1
*
*   @ UI -> Typography
*/

/* ----------------------------------------------- */
/**
*	Headings (h1, h2, h3, h4, h5, h6)
*/

	h1, h2, h3, h4, h5, h6 {
		display: block;
		position: relative;
		margin: 0 auto 20px;

		font-weight: 300;

		.highlight(fade(@black, 0%));
		.selection(fade(@black, 0%));

		cursor: default;
	}

	h1 {
		.font-size(26);
	}

	h2 {
		.font-size(22);
	}

	h3 {
		.font-size(21);
	}

	h4 {
		.font-size(14);
		font-weight: 400;
	}

	h5 {
		.font-size(13);
	}

	h6 {
		.font-size(12);
	}


/* ----------------------------------------------- */
/**
*	A Href (:link, :visited, :hover, :focus, :active)
*/

	a {
		display: inline-block;
		position: relative;
		outline: 0;

		text-decoration: none;

		.highlight(rgba(0,0,0,0));
		.selection(rgba(0,0,0,0));

		@transition: all @time @back;
		.transition(@transition);
		
		&:hover,
		&:active {
			text-decoration: none;
		}
		
		&.link {
			text-decoration: none;
			color: @secondary;
			
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 1px;
				bottom: 0;
				left: 45%;
				background: @secondary;
				
				@transition: all @time @back;
				.transition(@transition);
			}
			
			&:hover,
			&:focus,
			&:active {
				&:after {
					width: 100%;
					left: 0;
				}
			}
		}
	}


/* ----------------------------------------------- */
/**
*	Paragraphs
*/

	p {
		.font-family-base();
		font-size: @font-size-base;
	}


/* ----------------------------------------------- */
/**
*	Text Styles
*/

	.text {

		&-bold {
			font-weight: bold;
		}

		&-italic {
			font-style: italic;
		}

		&-underlined {
			text-decoration: underline;
		}

		&-small {
			.font-size( @font-size-base * 0.85 );
		}

		&-big {
			.font-size( @font-size-base * 1.25 );
		}

		&-subtle {
			color: @subtle;
		}

		&-light {
			color: @light;
		}

		&-left {
			text-align: left;
		}

		&-center {
			text-align: center;
		}

		&-right {
			text-align: right;
		}
	}


	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}

	.underlined {
		text-decoration: underline;
	}


/* ----------------------------------------------- */
